<h2 style="text-align: center;">PRIVACY POLICY MODEL FOR MOBILE APPLICATIONS</h2> 
<p>This privacy policy governs your use of the software application Home Companion for Wear (“Application”) that was created by Stefan Heintz. This app allows you to control your devices at home from a smartwatch. </p> 
<h4> </h4> 
<h4>What information does the Application obtain and how is it used?</h4> 
<p><strong style="">Automatically Collected Information</strong> </p> 
<p>The Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application. </p> 
<p>Does the Application collect precise real time location information of the device?</p> 
<p>This Application does not collect precise information about the location of your mobile device. </p> 
<h4>Do third parties see and/or have access to information obtained by the Application?</h4> 
<p>Only aggregated, anonymized data is periodically transmitted to external services to improve the Application. Informations will be only shared with third parties in the ways that are described in this privacy statement.</p> 
<h4>What are my opt-out rights?</h4> 
<p>You can stop all collection of information by deactivating it the Application settings or easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network.</p> 
<p><strong style="">Changes</strong></p> 
<p>This Privacy Policy may be updated from time to time for any reason. Any changes to the Privacy Policy will be notified within the app. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. </p> 
<h4><strong>Your Consent</strong></h4> 
<p>By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. &quot;Processing,” means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information.</p> 
<h4>Contact</h4> 
<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact me via email at stefanheintz+coding@gmail.com.</p>